@for (obj of itemList(); track $index) {

<div class="d-flex justify-content-between align-items-center">
	<h4 class="m-0">{{obj.region}}</h4>

	@if(obj.list.length > 0) {
	<a [routerLink]="[viewAllRouteLink(), obj.id]" class="btn btn-sm btn-secondary rounded-2">
		<span>View All</span>
		<span> <i class="fa-solid fa-arrow-right-long"></i></span>
	</a>
	}
</div>

<div class="wrapper slider scroll-container" #slider (mousedown)="onMouseDown($event, $index)" (mousemove)="onMouseMove($event, $index)" (mouseup)="onMouseUp($index)" (mouseleave)="onMouseUp($index)" (touchend)="onMouseUp($index)">



	@for (item of obj.list; track $index) {

	<app-item [data]="item" [isInWishlist]="getWishlistItem(item.id)" [isInCartlist]="getCartlistItem(item.id)" />
	} @empty {
	No Items Found...
	}

</div>
<hr class="mb-5" />

} @empty {
@if(loadingData()){

<div class="skeletonPlaceholder">
	@for (placeholder of [1,2,3,4,5,6,7]; track placeholder) {
	<div class="dish-card-soft dish-card-soft--skeleton">
		<div class="dish-card-soft__image">
			<div class="skeleton skeleton-img"></div>
		</div>

		<div class="dish-card-soft__content">
			<div class="skeleton skeleton-title"></div>
			<div class="skeleton skeleton-text"></div>
			<div class="skeleton skeleton-text short"></div>
		</div>

		<div class="dish-card-soft__footer">
			<div class="skeleton skeleton-btn"></div>
			<div class="skeleton skeleton-btn"></div>
			<div class="skeleton skeleton-btn"></div>
		</div>
	</div>
	}
</div>
} @else if (errorMessage() != null) {


<div class="alert alert-danger d-flex align-items-center" role="alert">

	<div>{{errorMessage()?.name}} {{errorMessage()?.message}}
	</div>
</div>


}
}