<div style="margin-bottom: 50px;">
	<owl-carousel-o [options]="customOptions" #owlCarousel>
		@for (item of itemList(); track $index) {
		<ng-template carouselSlide [width]="325">
			<div class="menuItem d-none">
				<div class="item-image">

					<img [src]="item.image_url" loading="lazy" [title]="item.name" [alt]="item.name" />
					<div class="item-header">
						<div class="item-heading-rating">
							<h3 class="item-name">{{item.name}}</h3>
							<span class="item-rating">
								{{item.rating}}
								<span class="item-star">★</span>
							</span>
						</div>
					</div>
				</div>

				<div class="item-body">
					<div class="item-meta">
						<span class="item-description">{{item.description}}</span>
					</div>

					<div class="item-price">
						<div class="d-flex flex-column">
							<div class="align-items-center">
								<span class="item-address"><i class="fa-solid fa-location-dot"></i> {{item.address}}</span>
							</div>
						</div>
						<div class="d-flex align-items-end flex-column">
							<div class="finalPrice">
								<i class="fa-solid fa-indian-rupee-sign"></i>
								<span>{{item.base_price}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="item-footer">
					@if (getCartlistItem(item.id)) {
					<div class="btn btn-sm btn-primary" (click)="toggleCartlist(item.id)">
						<i class="fa-solid fa-cart-arrow-down"></i>
					</div>
					} @else {
					<div class="btn btn-sm btn-outline-secondary" (click)="toggleCartlist(item.id)">
						<i class="fa-solid fa-cart-shopping"></i> Add
					</div>
					}


					@if (getWishlistItem(item.id)) {
					<div class="btn btn-sm btn-primary" (click)="toggleWishlist(item.id)">
						<i class="fa-solid fa-heart"></i>
					</div>
					} @else {
					<div class="btn btn-sm btn-outline-secondary" (click)="toggleWishlist(item.id)">
						<i class="fa-solid fa-heart"></i> Wishlist
					</div>

					}
				</div>
			</div>


			<div class="dish-card-soft" style="margin-top: 30px;margin-bottom: 30px;">
				<div class="dish-card-soft__image">
					<img [src]="item.image_url" [alt]="item.name" loading="lazy" />

					<div class="dish-card-soft__top-row">
						<!-- FOOD CLASS -->
						<div class="item-class" [ngClass]="foodClass(item.food_class)">
							<span></span>
							<div class="label">{{ foodClassLabel(item.food_class) }}</div>
						</div>

						<!-- WISHLIST ICON -->
						<button type="button" class="icon-circle" (click)="toggleWishlist(item.id)">
							<i class="fa-solid fa-heart" *ngIf="getWishlistItem(item.id); else wishOff"></i>
							<ng-template #wishOff>
								<i class="fa-regular fa-heart"></i>
							</ng-template>
						</button>
					</div>

					<!-- RATING -->
					<div class="rating-chip" *ngIf="item.rating" [ngClass]="getRating(item.rating)">
						<i class="fa-solid fa-star"></i>
						<span>{{ item.rating | number: '1.1-1' }}</span>
						<span class="count">({{ item.rating_count || 98445 | number: '1.0':'en-IN' }})</span>
					</div>
				</div>

				<div class="dish-card-soft__content">
					<div class="title-row">
						<h3 class="title" [title]="item.name">{{ item.name }}</h3>
						<span class="price">₹{{ item.base_price }}</span>
					</div>

					<p class="desc">
						{{ item.description }}
					</p>

					<div class="meta-row">
						<span class="meta">
							<i class="fa-solid fa-location-dot"></i>
							{{ item.address }}
						</span>
					</div>
				</div>

				<div class="dish-card-soft__footer">
					<button type="button" class="pill pill--light" (click)="viewDetails(item.id)">
						<i class="fa-regular fa-eye"></i>
						<span>View details</span>
					</button>
				</div>
			</div>

		</ng-template>
		} @empty {
		@if(loadingData()){

		<div class="skeletonPlaceholder">
			@for (placeholder of [1,2,3,4,5,6,7]; track placeholder) {
			<div class="dish-card-soft dish-card-soft--skeleton">
				<div class="dish-card-soft__image">
					<div class="skeleton skeleton-img"></div>
				</div>

				<div class="dish-card-soft__content">
					<div class="skeleton skeleton-title"></div>
					<div class="skeleton skeleton-text"></div>
					<div class="skeleton skeleton-text short"></div>
				</div>

				<div class="dish-card-soft__footer">
					<div class="skeleton skeleton-btn"></div>
					<div class="skeleton skeleton-btn"></div>
					<div class="skeleton skeleton-btn"></div>
				</div>
			</div>
			}
		</div>
		} @else if (errorMessage() != null) {


		<div class="alert alert-danger d-flex align-items-center" role="alert">
			<svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
				<use xlink:href="#exclamation-triangle-fill" />
			</svg>

			<div>{{errorMessage()?.name}} {{errorMessage()?.message}}
			</div>
		</div>


		}
		}
	</owl-carousel-o>
</div>



<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="check-circle-fill" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
	</symbol>
	<symbol id="info-fill" viewBox="0 0 16 16">
		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
	</symbol>
	<symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</symbol>
</svg>