.carousel {
	width: 100%;
	overflow: hidden;
	margin: 3em auto;
	display: flex;
	gap: 1em;


	.card {
		flex: 0 0 325px;
		aspect-ratio: 5/3;
		color: #fff;
		background-color: var(--bs-secondary);
		padding: 1em;
		border-radius: 0.6em;
		text-align: center;
		align-items: center;

	}
}

.divvv {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	padding-top: var(--space-1);
	padding-bottom: var(--space-1);
	position: relative;
	--margin-left-override: 0;
	--container-4: 1136px;
	--scaling: 1;
	--space-1: calc(4px * var(--scaling));
	--margin-left: var(--space-9);
	--space-9: calc(64px * var(--scaling));
	padding-left: max(var(--margin-left), calc(50% - var(--container-4) / 2));


}


.HiddenScroll_HiddenScroll__vX5dJ {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overscroll-behavior-x: contain;
}

.rt-Box {
	box-sizing: border-box;
	display: block;
}

.rt-r-pr-5 {
	--scaling: 1;
	--space-5: calc(24px * var(--scaling));
	padding-right: var(--space-5);
	cursor: grab;
	background-color: red;
	height: 300px;
}