<div class="genContainerFluid">
	<p>about works!</p>

</div>

<div class="sliderMainContainer">
	<button class="nav left btn btn-primary" (click)="scrollPrev()">←</button>

	<div #carousel class="carousel">
		@for (item of items(); track $index) {
		<div #card class="card">
			{{ item }}
		</div>
		}
	</div>

	<button class="nav right btn btn-primary" (click)="scrollNext()">→</button>
</div>





<div class="divvv HiddenScroll_HiddenScroll__vX5dJ">
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
	<div class="rt-Box rt-r-pr-5"></div>
</div>