.carousel {
	width: 100%;
	overflow-x: auto;
	margin: 3em auto;
	display: flex;
	gap: 1em;
	scroll-behavior: smooth;
	anchor-name: --carousel;
	scroll-snap-type: x mandatory;
	scroll-marker-group: after;

	&::-webkit-scrollbar {
		display: none;
	}

	&::scroll-button(right),
	&::scroll-button(left) {
		content: "\2192";
		border: none;
		background-color: var(--bs-primary);
		color: #ffffff;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		padding-bottom: 0.1em;
		cursor: pointer;
		position: fixed;
		position-anchor: --carousel;
		position-area: right center;
		font-size: 1rem;
		font-weight: bold;

		&:disabled {
			opacity: 0.5;
			cursor: auto;
		}

	}

	&::scroll-marker-group {
		display: flex;
		justify-content: center;
		gap: 0.5em;
	}


	&::scroll-button(left) {
		content: "\2190";
		position-area: left center;
	}

	.card {
		scroll-snap-align: start;
		flex: 0 0 325px;
		aspect-ratio: 5/3;
		color: #fff;
		background-color: var(--bs-secondary);
		padding: 1em;
		border-radius: 0.6em;
		text-align: center;
		align-items: center;

		&::scroll-marker {
			content: '';
			height: 1em;
			width: 1em;
			background-color: var(--bs-secondary);
			border-radius: 50%;

			&:target-current {
				background-color: var(--bs-primary);
			}
		}
	}
}