<!-- Navbar -->
<nav class="site-nav">
	<button class="sidebar-toggle" (click)="toggleSidebar()">
		<span class="material-symbols-rounded">bar</span>
	</button>
</nav>

<aside class="sidebar" [class.collapsed]="collapsed">
	<!-- Sidebar header -->
	<div class="sidebar-header">
		<!-- <span class="material-symbols-outlined header-logo">
			rocket_launch
		</span> -->
		<img src="./assets/images/logo.png" alt="Shidori" class="header-logo">
		<button class="sidebar-toggle" type="button" (click)="toggleSidebar()">
			<span class="material-symbols-outlined">chevron_left</span>
		</button>
	</div>

	<div class="sidebar-content">
		<!-- Search Form -->
		<form #searchForm action="#" class="search-form" (click)="onSearchClick()">
			<span class="material-symbols-outlined">search</span>
			<input type="search" placeholder="Search..." required />
		</form>

		<!-- Sidebar Menu -->
		<ul class="menu-list">
			@for (item of menuList(); track item.name; let idx = $index) {
			<li class="menu-item">
				<a [routerLink]="item.href" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="menu-link">
					<span class="material-symbols-outlined">{{ item.icon }}</span>
					<span class="menu-label">{{ item.label }}</span>
				</a>
			</li>
			}
		</ul>
	</div>

	<!-- Sidebar Footer -->
	<div class="sidebar-footer">
		<button #themeToggleBtn type="button" class="theme-toggle" (click)="toggleTheme()">
			<div class="theme-label">
				<span #themeIcon class="theme-icon material-symbols-outlined">dark_mode</span>
				<span class="theme-text">Dark Mode</span>
			</div>
			<div class="theme-toggle-track">
				<div class="theme-toggle-indicator"></div>
			</div>
		</button>
	</div>
</aside>