// Base tokens
$primary: #695CFE;
// $primary: #3f51b5;
$secondary: #43475d;

$enable-gradients: true;

// Add this BEFORE @import
$material-symbols-font-path: '~material-symbols/';

@import "bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";
@import 'material-symbols/outlined.css';


a {
	text-decoration: none;
	color: currentColor;
	min-width: unset;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
	font-size: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

//----------- Admin ---------------------//
.adminContainer {
	display: flex;
	height: 100dvh;


	.adminContent {
		flex: 1 1 auto !important;
		// background-color: #ededed;
		// padding: 1rem 2rem;
		max-height: 100dvh;
		overflow: auto;
	}
}


/* Toolbar */

.grid-container-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	// margin-bottom: 0.5rem;
	flex-wrap: wrap;

	.dropdown {
		flex-shrink: 0;
	}

	.view-toggle {
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
		gap: 1rem;

		.btn {
			display: flex;
			gap: 5px;
			justify-items: center;
			align-items: center;
		}
	}

	@media (max-width: 576px) {
		flex-direction: column;
		align-items: stretch;

		.dropdown,
		.view-toggle {
			width: 100%;
		}

		.view-toggle {
			justify-content: flex-start;
		}
	}
}

.default-item-list {
	.default-item-card {
		background-color: var(--color-bg-sidebar);
	}

}

.grid-container {
	// height: calc(100dvh - 2rem); // full viewport height
	height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	// background-color: rgb(248, 249, 250);

	.top {
		position: sticky;
		top: 0;
		// background: #fff;
		z-index: 10;
		padding-block: 0.75rem;
		// box-shadow: 0 2px 6px #0000001f, inset 0 -1px #dadce0;
		margin-bottom: 0.5rem;
		// background-color: #ffffff;
		// background-color: var(--color-bg-sidebar);
		border-bottom: solid 1px var(--color-border-hr);
	}

	.middle {
		overflow-y: auto; // scrollable area
		padding: 0.5rem 1rem 1rem;
	}

	.bottom {
		position: sticky;
		bottom: 0;
		// background: #fff;
		z-index: 10;

		padding-block: 0.75rem;
		// box-shadow: 0 -2px 6px #0000001f, inset 0 -1px #dadce0;
		margin-top: 0.5rem;
		// background-color: #ffffff;
		// background-color: var(--color-bg-sidebar);
		border-top: solid 1px var(--color-border-hr);
	}

	.divider {
		position: relative;
		height: 1px;
		background: #e0e0e0;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -4px;
			height: 6px;
			background: rgba(0, 0, 0, 0.15);
			filter: blur(4px);
		}
	}
}






//----------- Admin End -----------------//


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root,
[data-bs-theme="light"] {
	/* Light theme colors */
	--color-text-primary: #1F2936;
	--color-text-placeholder: #798EAE;
	--color-bg-primary: #f9fafb;
	--color-bg-secondary: #ECECFD;
	--color-bg-sidebar: #FFFFFF;
	--color-border-hr: #E2E8F0;
	--color-hover-primary: #695CFE;
	--color-hover-secondary: #e2e2fb;
	--color-shadow: rgba(0, 0, 0, 0.05);


	--bs-tertiary-bg: var(--color-bg-secondary);

	--bs-secondary-bg: var(--color-bg-secondary);
}

body {
	min-height: 100vh;
	// background: var(--color-bg-primary);

	--bs-body-bg: var(--color-bg-primary);
	--bs-body-color: var(--color-text-primary);
}

/* ================= LAYOUT ================= */

.adminContainer {
	display: flex;

	.adminContent {
		flex: 1;
		// padding: 30px;
		color: var(--color-text-primary);

		.page-title {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.card {
			padding: 20px;
			border-radius: 8px;
			background-color: var(--color-bg-sidebar);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		}
	}
}


.sidebar {
	position: sticky;
	top: 0;
	width: 270px;
	height: 100vh;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	background: var(--color-bg-sidebar);
	border-right: 1px solid var(--color-border-hr);
	box-shadow: 0 3px 9px var(--color-shadow);
	transition: width 0.4s ease;


	.sidebar-header {
		padding: 20px 18px;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-border-hr);
	}

	&.collapsed {
		width: 90px;

		.header-logo {
			opacity: 0;
			pointer-events: none;
		}

		.sidebar-header {
			.sidebar-toggle {
				transform: translateX(-2px);
				height: 48px;
				width: 50px;
			}
		}

		.sidebar-toggle {
			span {
				transform: rotate(180deg);
			}
		}

		.sidebar-content {
			scrollbar-width: none;
		}

		.search-form {
			&:hover {
				cursor: pointer;
			}
		}

		.menu-link {
			.menu-label {
				opacity: 0;
				pointer-events: none;
			}
		}

		.theme-toggle {
			:where(.theme-text, .theme-toggle-track) {
				opacity: 0;
				width: 0;
				transition: all 0.2s ease;
			}
		}

	}

	.sidebar-footer {
		padding: 20px 18px;
		white-space: nowrap;
		border-top: 1px solid var(--color-border-hr);
	}

	.sidebar-content {
		flex: 1;
		padding: 20px 18px;
		overflow: hidden auto;
		scrollbar-width: thin;
		scrollbar-color: var(--color-text-placeholder) transparent;
	}
}

.sidebar-header {
	.header-logo {
		width: 46px;
		height: 46px;
		display: block;
		object-fit: contain;
		border-radius: 50%;
		transition: opacity 0.4s ease;
	}

	.sidebar-toggle {
		span {
			font-size: 1.75rem;
			transition: transform 0.4s ease;
		}
	}
}

.site-nav,
.sidebar-header {
	.sidebar-toggle {
		height: 40px;
		width: 40px;
		border: none;
		cursor: pointer;
		display: flex;
		position: absolute;
		right: 18px;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		color: var(--color-text-primary);
		background: var(--color-bg-secondary);
		transition: 0.4s ease;

		&:hover {
			background: var(--color-hover-secondary);
		}
	}
}

.sidebar-content {
	.search-form {
		border-radius: 8px;
		min-height: 48px;
		margin: 5px 0 20px;
		align-items: center;
		display: flex;
		padding: 0 15px;
		white-space: nowrap;
		background: var(--color-bg-secondary);
		transition: 0.4s ease;

		&:focus-within,
		&:hover {
			background: var(--color-hover-secondary);
		}

		span {
			color: var(--color-text-placeholder);
		}
	}

	.menu-list {
		display: flex;
		gap: 4px;
		list-style: none;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
}


.search-form {
	input {
		background: none;
		outline: none;
		border: none;
		width: 100%;
		margin-left: 15px;
		font-size: 1rem;
		color: var(--color-text-primary);

		&::placeholder {
			color: var(--color-text-placeholder);
		}
	}
}

.menu-list {
	.menu-link {
		display: flex;
		gap: 12px;
		white-space: nowrap;
		border-radius: 8px;
		padding: 12px 15px;
		align-items: center;
		text-decoration: none;
		color: var(--color-text-primary);
		transition: 0.3s ease;

		.menu-label {
			transition: opacity 0.3s ease;
		}
	}
}


.menu-list {
	.menu-link:is(:hover, .active) {
		color: #fff;
		background: var(--color-hover-primary);
	}
}



.sidebar-footer {
	.theme-toggle {
		width: 100%;
		min-height: 48px;
		border-radius: 8px;
		display: flex;
		align-items: center;
		cursor: pointer;
		border: none;
		padding: 0 15px;
		white-space: nowrap;
		color: var(--color-text-primary);
		background: var(--color-bg-secondary);
		transition: 0.3s ease;

		&:hover {
			background: var(--color-hover-secondary);
		}
	}
}


.theme-toggle {
	.theme-label {
		display: flex;
		gap: 10px;
		align-items: center;

		.theme-text {
			font-size: 1rem;
			transition: opacity 0.2s ease;
		}

	}

	.theme-toggle-track {
		height: 24px;
		width: 48px;
		border-radius: 999px;
		margin-left: auto;
		background: #c3d1ec;
		position: relative;
		transition: opacity 0.2s ease, background-color 0.3s ease;
	}

}




.theme-toggle-track {
	.theme-toggle-indicator {
		position: absolute;
		top: 3px;
		left: 3px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;
	}
}

.site-nav {
	top: 0;
	display: none;
	padding: 15px 20px;
	position: sticky;
	background: var(--color-bg-primary);
	border-bottom: 1px solid var(--color-border-hr);

	.sidebar-toggle {
		position: unset;
	}

}

.site-nav {
	.container {
		display: flex;
	}
}

.adminContainer .adminContent {
	flex: 1;
	color: var(--color-text-primary);
}

.adminContent {
	.page-title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.card {
		border-radius: 8px;
		padding: 20px;
		background-color: var(--color-bg-sidebar);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
	body {
		&::before {
			content: "";
			position: fixed;
			inset: 0;
			z-index: 10;
			opacity: 0;
			pointer-events: none;
			background: rgba(0, 0, 0, 0.6);
			transition: 0.4s ease;
		}

		&:has(.sidebar:not(.collapsed))::before {
			opacity: 1;
			pointer-events: auto;
		}

		&:has(.sidebar:not(.collapsed)) {
			overflow: hidden;
		}
	}

	.site-nav {
		display: block;
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 20;
		width: 270px;
		transition: left 0.4s ease;
	}

	.sidebar {
		&.collapsed {
			left: -270px;
			width: 270px;
		}
	}

	.adminContainer {
		.adminContent {
			padding: 30px 20px;
		}
	}
}

/* ================= RESPONSIVE ================= */


.default-item-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr; // mobile: 1 column
	gap: 1.25rem;

	@media (min-width: 768px) {
		// tablet: still 1 column
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	@media (min-width: 1200px) {
		// large desktop: 2 columns
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.default-item-card {
		display: grid;
		grid-template-columns: auto minmax(0, 1fr) auto;
		gap: 0.75rem;
		align-items: center;
		padding: 1.5rem;
		border-radius: 0.5rem;
		background-color: var(--color-bg-sidebar);
		// box-shadow: 0 1px 3px rgba(15, 23, 42, 0.08);
		box-shadow: rgba(0, 0, 0, 0.4) 0 0.125rem 0.25rem, rgba(0, 0, 0, 0.3019607843) 0 0.4375rem 0.8125rem -0.1875rem, rgba(0, 0, 0, 0.2) 0 -0.1875rem inset;
		min-height: 80px;

		@media (max-width: 576px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			text-align: center;

			.actions {
				grid-column: 1 / -1;
				justify-content: center;
				margin-left: 0;
				margin-top: 0.5rem;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.5rem;
			}

			.avatar {
				margin-bottom: 0.25rem;
			}
		}
	}

	.default-item-empty {
		border-radius: 0.5rem;
		background-color: var(--color-bg-sidebar);
		box-shadow: 0 1px 3px rgba(15, 23, 42, 0.08);
	}

	.avatar {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		overflow: hidden;
		flex-shrink: 0;
		background: #f1f5f9;
		margin: 0 auto;

		&.no-img {
			box-shadow:
				inset 3px 6px 3px rgba(0, 0, 0, 0.3),
				0 0 0 1px rgba(0, 0, 0, 0.15);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.info {
		min-width: 0;

		@media (max-width: 576px) {
			text-align: center;

			.meta {
				justify-content: center;
			}
		}

		.name {
			font-weight: 600;
			font-size: 1rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.position {
			font-size: 0.875rem;
			color: var(--color-text-placeholder);
			margin-top: 2px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.meta {
			margin-top: 4px;
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;

			.meta-item {
				font-size: 0.75rem;
				color: var(--color-text-primary);
				background: var(--color-bg-secondary);
				// border-radius: 999px;
				border-radius: 6px;
				padding: 2px 8px;
				box-shadow: 0 0 1px 1px rgb(0 0 0 / 15%);
			}
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.btn {
			font-size: 0.75rem;
			padding: 0.15rem 0.5rem;
		}
	}
}

/* Toolbar */

.grid-container-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	// margin-bottom: 0.5rem;
	flex-wrap: wrap;

	.dropdown {
		flex-shrink: 0;
	}

	.view-toggle {
		display: flex;
		justify-content: flex-end;
		flex: 1 1 auto;
		gap: 1rem;

		.btn {
			display: flex;
			gap: 5px;
			justify-items: center;
			align-items: center;
		}
	}

	@media (max-width: 576px) {
		flex-direction: column;
		align-items: stretch;

		.dropdown,
		.view-toggle {
			width: 100%;
		}

		.view-toggle {
			justify-content: flex-start;
		}
	}
}


[data-bs-theme="dark"] {

	/* Dark theme colors */
	--color-text-primary: #F1F5F9;
	--color-text-placeholder: #A6B7D2;
	--color-bg-primary: #111827;
	--color-bg-secondary: #3D4859;
	--color-bg-sidebar: #1f2937;
	--color-border-hr: #3B475C;

	/*--------*/


	--color-hover-secondary: #48566a;
	--color-shadow: rgba(0, 0, 0, 0.3);

	.theme-toggle-track {
		background: #695CFE;
	}

	.theme-toggle-indicator {
		transform: translateX(24px);
	}
}